# Ignore sensitive files
.env

# Ignore large media (if not needed in repo)
*.jpg
*.png

# Python cache and virtual environment
__pycache__/
*.pyc
venv/

# Data files (generated or sensitive)
data/users.json
data/users_old.json
data/message_log.json

# Documentation files (text files, etc.)
docs/*.txt

# Other common ignores (optional but recommended)
*.log
*.bak
.vercel

#node depenencies etc
node_modules/
package-lock.json
package.json

# Next.js build output
.next/

instance/
stagquest_env/